# 恢复时间点，格式'2022-12-09 10:45:00'
recovery_date='2022-12-21 09:35:00'
# 恢复的库表
recovery_tables='sbtest.sbtest1,sbtest.sbtest2'
# 需要恢复成的表名，要和上面一一对应
recovery_tables_to='sbtest.sbtest1_bak,sbtest.sbtest2_bak'

# 备份实例的信息
backup_server="127.0.0.1"
# 备份实例用户，需要有免密登录
backup_server_user="app"
# 数据备份文件的目录
mysql_data_backup_dir='/data/mysql/backup'


# 这些信息可以读取my.cnf获取
mysql_bin_log_file_prefix="bin"
mysql_relay_log_file_prefix="relay"

# 临时库(这些信息可以读取my.cnf获取)
# 需要免密登录
mysql_recovery_host="127.0.0.1"
mysql_recovery_port="3307"
mysql_recovery_user="root"
mysql_recovery_password="Wetools@587"
mysql_recovery_conf="/data/app/mysql2/conf/my.cnf"
mysql_recovery_bin="/data/app/mysql2/bin"
mysql_recovery_start_scirpt="/data/app/mysql2/bin/start.sh"
mysql_recovery_stop_scirpt="/data/app/mysql2/bin/stop.sh"
mysql_recovery_data="/data/app/mysql2/data"
mysql_recovery_logs="/data/app/mysql2/logs"
# 临时库所用的linux用户
mysql_recovery_linux_user="app"
# 临时库所用的linux用户组
mysql_recovery_linux_group="apps"
# 临时库用于存放全备文件的目录
mysql_recovery_backup_temp_dir="/data/backup/mysql/temp"

innobackupex_bin="/data/app/percona-xtrabackup-2.4.27-Linux-x86_64.glibc2.12/bin"
qpress_bin="/usr/local/bin"
# 数据备份文件的后缀名
backup_file_suffix="xbstream"
# innobackupex备份时是否启用了--compress压缩参数
backup_use_compress=1

# 待恢复实例
# 需要免密登录
mysql_host="127.0.0.1"
mysql_port="3306"
mysql_user="root"
mysql_password="Wetools@587"
mysql_conf="/data/app/mysql/conf/my.cnf"
mysql_bin="/data/app/mysql/bin"
mysql_start_scirpt="/data/app/mysql/bin/start.sh"
mysql_stop_scirpt="/data/app/mysql/bin/stop.sh"
mysql_data="/data/app/mysql/data"
mysql_logs="/data/app/mysql/logs"
mysql_linux_user="app"
mysql_linux_group="apps"
mysql_backup_temp_dir="/data/backup/mysql/temp"
